%form{ action: xml_escape_path, method: 'post', data: { remote: true, editor: 'form' } }
  
  %div.row
    %div.col-md-8
      = render( partial: 'editor/input_editor', locals: { |
        header: t('.input'),   |
        content: get_sample_xml('sample.xml'), |
        settings_json: '{ "name": "input", "mode": "ace/mode/xml" }' }) |

  %div.row
    %div.col-md-4
      = submit_button_tag

  %div.row
    %div.col-md-8
      = render( partial: 'editor/output_editor', locals: {  |
        header: t('.output'),  |
        anchor_id: 'result',   |
        anchor_name: 'result', |
        settings_json: '{ "name": "result", "mode": "ace/mode/xml" }' }) |
