%form#form{ action: xml_escape_path, method: 'post', data: { remote: true } }
  
  %div.row
    %div.col-md-8
      = render 'concerns/panels/form', |
        header: t('.input'),           |
        body: render('concerns/editors/input',   |
          id: 'input_xml',                       | 
          name: 'input',                         |
          content: get_sample_xml('sample.xml'), |
          options: { mode: "xml" })

  %div.row
    %div.col-md-4
      = submit_button

  %div.row
    %div.col-md-8
      = render 'concerns/panels/form', |
        header: t('.output'),          |
        body: render('concerns/editors/output', |
          id: 'output_text',                    |
          options: { mode: "text" })

= javascript_include_tag 'views/xml/escape'
