%div.container
  = form_tag( { action: 'escape' }, method: 'post', remote: true, 'data-editor' => 'form' ) do
    %div.editor{ 'data-editor' => 'input', 'data-editor-settings' => '{ "name": "input", "mode": "ace/mode/xml" }' }
      :escaped
        <sample><xml will='be escaped'>with xml entities</xml></sample>
  
    = button_tag('Escape', data: { disable_with: "wait" }, class: 'btn' )
    
    %div.editor{ 'data-editor' => 'output', 'data-editor-settings' => '{ "name": "result", "mode": "ace/mode/xml"}' } try it!
