%div.container
  = form_tag( { action: 'format', format: 'json' }, method: 'post', remote: true, 'data-editor' => 'form' ) do
    %div.editor{ 'data-editor' => 'input', 'data-editor-settings' => '{ "name": "input", "mode": "ace/mode/xml" }' }<
      = t('.sample')
  
    = button_tag(t('.form_button'), data: { disable_with: "wait" }, class: 'btn' )
    
    %div.editor{ 'data-editor' => 'output', 'data-editor-settings' => '{ "name": "result", "mode": "ace/mode/xml"}' } try it!
