%div.container
  %form{ 'data-editor' => 'form' }
    %div.editor{ 'data-editor' => 'input', 'data-editor-settings' => '{ "name": "input", "mode": "ace/mode/xml" }' }<
      = t('.sample')
  
  = form_tag( { action: 'format' }, method: 'post', remote: true, 'data-editor' => 'submit', data: { type: 'json'}) do
    = button_tag(t('.form_submit.label'), data: { disable_with: t('.form_submit.disable') }, class: 'btn' )
    
  %div.editor{ 'data-editor' => 'output', 'data-editor-settings' => '{ "name": "result", "mode": "ace/mode/xml"}' } try it!
