- id ||= nil
- text ||= t('.text')
- disable_with ||= t('.disable')
- name ||= 'submit'
- value ||= ''

%button.btn.btn-default.separated{ id: id, |
  disable_with: disable_with,              |
  'data-concerns' => 'buttonSubmit',       |
  type: 'submit', name: name, value: value }
  = text
