- id ||= nil
- defaultHeader ||= t(".header")
- defaultBody ||= t(".body")
- options ||= {}

%div.panel.panel-danger.collapse{ id: id, 'data-concerns' => 'panelError', 'data-concerns-options' => options.to_json }
  %div.panel-heading
    %div.row
      %div.col-md-11
        %h4{ 'data-panel-header' => defaultHeader }
      %div.col-md-1
        %button.close{ 'data-toggle' => 'collapse', 'data-target' => "##{id}" } &times
  %div.panel-body{ 'data-panel-body' => defaultBody }
