- id ||= nil
- header ||= t('.form.title')
- body ||= t('.form.text')

%div.panel.panel-default.condensed{ id: id, 'data-panel' => 'plain' }
  %div.panel-heading
    %div.row
      %h4{ 'data-panel-header' => '' }
        = header

  %div.panel-body.condensed.collapse.in{ 'data-panel-body' => '' }
    = body
