- id ||= nil
- header ||= t('.header')
- body ||= t('.body')

%div.panel.panel-default.condensed{ id: id, 'data-concerns' => 'panelForm' }
  %div.panel-heading
    %h4{ 'data-panel-header' => '' }
      = header

  %div.panel-body.condensed{ 'data-panel-body' => '' }
    = body
