.editor {
    width: 100%;
    height: 400px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

@media (max-height: 760px) {
  .editor {
    height: 420px
  }
}

@media (max-height: 600px) {
  .editor {
    height: 320px
  }
}

#debug_editor {
  width: 100%;
  height: 200px;
}


