- name ||= nil
- label ||= nil
- placeholder ||= ''
- type ||= 'text'
- tab_allowed ||= false

%div.form-group
  %label.col-md-4.control-label{ name: name }= label
  
  - data_attr = (tab_allowed)? { 'input' => 'tab-allowed' } : nil
  %div.col-md-8
    %input.form-control{        |
      name: name,               |
      placeholder: placeholder, |
      type: type,               |
      data: data_attr }
