%div.panel.panel-default.condensed
  %div.panel-heading
    %h4{'data-editor-anchor' => 'true'}= defined?(header) ? header : t('.output')
    
  %div.panel-body.condensed
    %div.panel.panel-default.condensed
      %div.panel-body.editor{ 'data-editor' => 'output', 'data-editor-settings' => defined?(settings_json) ? settings_json : '' }<
        = defined?(content) ? content : nil
  