- id ||= nil
- content ||= nil
- size ||= nil # sm|md|lg
- settings ||= {}

%div{ id: id, 'data-concerns' => 'editorOutput', |
  'data-concerns-options' => settings.to_json,   |
  'class' => "concerns-editor#{size ? '-' + size : nil }" }<
  = content
