[data-concerns*='editor'] {
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.concerns-editor-sm {
  height: 50px;
}

.concerns-editor, .concerns-editor-md {
  height: 300px;
}

.concerns-editor-lg {
  height: 500px;
}


