.condensed {
    margin: 1px 1px 0px 1px;
    padding: 0px 0px 0px 0px;
}

.separated {
    margin: 5px 5px 5px 5px;
}

.clear {
  clear: both;
  display: block;
  position: relative;
}

// Columns with equal height
// http://stackoverflow.com/questions/19819816/bootstrap-3-trying-to-create-columns-with-equal-heights
.equalheight {
  overflow: hidden; 
}

.equalheight {
  .eq {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
}

// Heading with fixed height
.panel{
  .fixed-height {
    height: 60px; // empiric constant for h4 and button group
    
    .btn-group {  // condense tabs
      .btn {
        padding-bottom: 0px;
        padding-top: 0px;
      }
    }
  }
}
