- content_for :stylesheet do
  - stylesheet_link_tag "editor", charset: "UTF-8", media: "all"
- content_for :javascript do
  - javascript_include_tag "editor", charset: "UTF-8"

- content_for :content do
  %div.row
    %div.col-md-8.col-md-offset-2
      %div.panel.panel-danger.collapse#error_pane
        %div.panel-heading
          %div.row
            %div.col-md-11
              %h4{ 'data-editor' => 'error-heading', 'data-target' => '#error_pane'  }
            %div.col-md-1
              %button.close{ 'type' => 'button', 'data-toggle' => 'collapse', 'data-target' => '#error_pane' } &times
        %div.panel-body{ 'data-editor' => 'error-body', 'data-default-error' => t('editor.error.default') }
  
  = yield
          
= render template: 'layouts/application'

%div.container-fluid
  %div.row
    %div.col-md-4
      = render 'concerns/buttons/up'

%hr

%div.row
  %div.col-md-8.col-md-offset-2
    = render 'concerns/panels/collapsible',       |
      headerHidden: t('editor.debug_panel.show'), |
      headerShown: t('editor.debug_panel.hide'),  |
      shown: false, |
      body: render('concerns/editors/output', id: 'debug_output_editor', settings: { mode: 'text', theme: 'eclipse' })
