- content_for :stylesheet do
  - stylesheet_link_tag "editor", media: "all"
- content_for :javascript do
  - javascript_include_tag "editor"

= render template: 'layouts/application'

%div.container
  %input#debug_toggle{ type: "checkbox" } Show debug panel
  %div#debug_editor.hide