- content_for :stylesheet do
  - stylesheet_link_tag "editor", charset: "UTF-8", media: "all"
- content_for :javascript do
  - javascript_include_tag "editor", charset: "UTF-8"

= render template: 'layouts/application'

%div.container
  %input#debug_toggle{ type: "checkbox" }= t('editor.debug_panel.show')
  %div#debug_editor.hide